<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="./css/site.css">
  
  <script src="lib/angular-1.3.14.min.js"></script>
  <script src="lib/jquery-3.2.1.min.js"></script>
  <script src="js/site.js"></script>
  	
  <title>Cool Salesman Software</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-cloak ng-init="FetchOrders()">
  <p>This is the orders page.</p>
  <div>
    <table class="table">
      <tr>
        <th>
          Id
        </th>
        <th>
          ClientId
        </th>
        <th>
          Date
        </th>
        <th></th>
      </tr>
      <tr ng-repeat="order in orders" ng-class="rowClass(order)">
        <td>{{order.id}}</td>
        <td>{{order.client.id}}</td>
        <td>{{order.date}}</td>
        <td>
          <button id="editBtn" ng-click="ShowOrderLines(order.id)">Edit</button>
          <button id="deleteBtn" ng-click="DeleteOrder(order.id)">Delete</button>
        </td>
      </tr>
    </table>
    <button id="addOrderButton" ng-click="AddOrder()">Add Order</button>
  </div>
  
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" ng-click="CloseOrderLines()">&times;</span>
        <p>something here</p>
      </div>
      <div class="modal-body">
        <table id="ordLineTbl">
          <tr>
            <th>
              Id
            </th>
            <th>
              ItemId
            </th>
            <th>
              OrderId
            </th>
            <th>
              Quantity
            </th>
          </tr>
          <tr ng-repeat="orderline in orderlines" ng-class="rowClass(order)">
          <td>{{orderline.id}}</td>
          <td><input id="itemId0" type="number" placeholder="{{orderline.item.id}}"/></td>
          <td>{{orderline.order.id}}</td>
          <td><input id="quantity0" type="number" placeholder="{{orderline.quantity}}"/></td>
        </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button ng-click="SaveOrderEdit()">Save</button>
        <button ng-click="AddOrderLineRow()">Add</button>
      </div>
    </div>
  </div>
  
  <div id="myModal2" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" ng-click="CloseOrderLines()">&times;</span>
        <p>something here</p>
      </div>
      <div class="modal-body">
        <table id="ordLineTbl2">
          <tr>
            <th>
              ClientId
            </th>
            <th>
              ItemId
            </th>
            <th>
              Quantity
            </th>
          </tr>
          <tr>
          <td><input id="clientId" type="number" placeholder="1"/></td>
          <td><input id="itemId_0" type="number" placeholder="1"/></td>
          <td><input id="quantity_0" type="number" placeholder="1"/></td>
        </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button ng-click="SaveOrderAddition()">Save</button>
        <button ng-click="AddOrderLineRow2()">Add</button>
      </div>
    </div>
  </div>
</body>
</html>